*
{
    margin: 0%;
    padding: 0%;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    background-color: #00253d;
}
.container
{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.container div
{
    width: 70px;
    height: 70px;
    border: 2px solid #eeee68;
    /* box-shadow: 0 0 0 2px #eeee68; */
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}

.box:first-child,.box:nth-child(2),.box:nth-child(3)
{
    border-top: none;
}

.box:last-child,.box:nth-child(7),.box:nth-child(8)
{
    border-bottom: none;
}

.box:nth-child(3n+1)
{
    border-left: none;
}

.box:nth-child(3n)
{
    border-right: none;
}
h1
{
    color: aliceblue;
    font-weight: bold;
    margin: 20px;
}
/* h3
{
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: larger;
}
 */

#status
{
    margin: 30px;
    font-size: x-large;
    color: white;
}
button
{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px;
    cursor: pointer;
}
button:hover
{
    width: 102px;
    background-color: #ff0033;
}

.match
{
    animation: ani 1s ease-in-out infinite;
}

@keyframes ani{
    0%{
        background-color: #094166;
    }
    100%{
        background-color: #015791;
    }
}

/* svg
{
    width: 100%;
    height: 95%;
}
circle{
    width: 40% !important;
    height: 40% !important;
    fill: none;
    stroke: aquamarine;
    stroke-width: 5px;
    stroke-dasharray: 442;
    stroke-dashoffset: -442;
        animation: circles 1s linear forwards;
}

@keyframes circles {
    100%{
        stroke-dashoffset:0;
    }
} */